    .article {
        // border: 1px solid green;

        &__presentation {
            // border: 1px solid green;
            @include flex-column-center;
            background: $light-color;
            justify-content: center;

            & h1 {
                // border: 1px solid green;
                text-align: center;
                margin-bottom: 10px;
            }

            & p {
                // border: 1px solid green;
                text-align: center;
                margin: 0;
            }
        }

        &__fonctionnement {

            // border: 1px solid green;

            @include tablette-only {
                &--bloc-card {
                    display: flex;
                    justify-content: space-around;
                }
            }

            @include desktop-only {
                @include flex-column-center;

                &--bloc-card {
                    width: 100%;
                    max-width: 1440px;
                    display: flex;
                    justify-content: space-between;
                }
            }

            padding: 15px;

            & h2 {
                margin-top: 0;

                @include tablette-only {
                    text-align: center;
                }
            }

            &--card {
                display: flex;
                align-items: center;
                margin: 10px -15px;

                @include tablette-only {
                    width: 30%;
                }

                @include desktop-only {
                    width: 400px;
                }
            }

            & i {
                // border: 1px solid green;
                position: relative;
                left: 13px;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                @include flex-center;
                color: white;
                background: $primary-color;
            }
        }
    }