@media screen and (max-width: 790px) {


    .bloc__page {
        margin: 0;
        display: flex;
        flex-direction: column;
        & h1 {
            @include font-title;
        }
        & p, h3 {
            @include font-txt;
        }
        & h2 {
            @include font-txt;
            font-size: 20px;
        }
    }

}