    .bloc__page {
        @include tablette-only;
        @include desktop-only;
        margin: 0;
        display: flex;
        flex-direction: column;

        & h1 {
            @include font-title;
        }

        & p,
        h3 {
            @include font-txt;
        }

        & h2 {
            @include font-txt;
            font-size: 20px;
        }
    }