@media screen and (max-width: 790px){
    
.map__localisation{
    // border: 1px solid green;
    background: #DBDBDB;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--txt{
        // border: 1px solid green;
        width: 150px;
    }
    & i{
        // border: 1px solid green;
        margin-right: 5px;
    }
}
}