    .main__carte {
        margin-top: -45px;
        background: $light-color;
        border-radius: 50px 50px 0 0;

        @include tablette-only {
            @include flex-column-center
        }

        @include desktop-only {
            @include flex-column-center
        }

        &--titre {
            @include card-base--flex;

            @include tablette-desktop {
                @include flex-center;
            }
        }

        &--box {
            // border: 1px solid green;
            padding: 15px;

            @include tablette-desktop {
                width: 100%;
                padding: 0;
            }

            & h1 {
                font-size: 35px;

                @include tablette-desktop {
                    margin-right: 10px;
                }
            }
        }
    }

    .main__menu {
        @include tablette-desktop {
            width: 450px;
            @include flex-column-center;
        }

        &--box {
            @include desktop-only {
                display: flex;
                justify-content: center;
            }
        }
    }

    .main__menu>p {
        border-bottom: 3px solid $tertiary-color;
        width: 50px;
        font-size: 20px;
    }

    .main__btn--bottom {
        @include flex-center;
    }

    .main__h2 {
        display: none;
    }