    .main__carte {
        margin-top: -45px;
        background: #efefef;
        border-radius: 50px 50px 0 0;

        @include tablette-only {
            @include flex-column-center
        }
        @include desktop-only {
            @include flex-column-center
        }

        &--titre {
            font-family: 'Shrikhandregular';
            @include card-base--flex;

            @include tablette-only {
                justify-content: center;
                align-items: center;
            }
            @include desktop-only {
                justify-content: center;
                align-items: center;
            }

            & i {
                margin-right: 20px;

                @include tablette-only {
                    margin: 0;
                }
            }
        }

        &--box {
            // border: 1px solid green;
            padding: 0 15px;
            margin-top: 15px;

            @include tablette-only {
                width: 100%;
                padding: 0;
            }
            @include desktop-only {
                width: 100%;
                padding: 0;
            }

            & h1 {
                font-size: 35px;
                margin: 40px 0 30px 0;

                @include tablette-only {
                    margin-right: 10px;
                }
                @include desktop-only {
                    margin-right: 10px;
                }

            }
        }
    }

    .main__menu {
        @include tablette-only {
            width: 450px;
            @include flex-column-center;
        }
        @include desktop-only {
            width: 450px;
            @include flex-column-center;
        }
        &--box {
            @include desktop-only {
                display: flex;
            }
        }
    }

    .main__menu>p {
        border-bottom: 3px solid yellowgreen;
        margin-left: 5px;
        width: 50px;
        font-size: 20px;
    }

    .main__vignettes {
        // border: 1px solid green;
        background: #fff;
        border-radius: 16px;
        margin: 20px 0;
        display: flex;
        align-items: center;

        &--txt {
            // border: 1px solid green;
            width: 70%;
            height: 100%;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & p,
            h3 {
                margin: 2px;
            }
        }
    }

    .main__animation--price {
        // border: 1px solid green;
        margin: 10px;
        width: 30%;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .main__btn--bottom {
        // border: 1px solid green;
        display: flex;
        justify-content: center;
    }