@media screen and (max-width:790px) {

    .main__carte {
        margin-top: -45px;
        background: #efefef;
        border-radius: 50px 50px 0 0;
        &--titre {
            font-family: 'Shrikhandregular';
            display: flex;
            justify-content: space-between;
            & i{
                margin-right: 20px;
            }
        }

        &--box {
            // border: 1px solid green;
            padding: 0 15px;
            margin-top: 15px;
            & > h1 {
                font-size: 35px;
                margin: 40px 0 30px 0;
            }
        }
    }

    .main__menu > p{
        border-bottom: 3px solid yellowgreen;
        margin-left: 5px;
        width: 50px;
        font-size: 20px;
    }

    .main__vignettes {
        // border: 1px solid green;
        background: #fff;
        border-radius: 16px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        &--txt {
            // border: 1px solid green;
            width: 70%;
            height: 100%;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & p, h3{
                margin: 2px;
            }
        }
    }
    .main__animation--price{
        // border: 1px solid green;
        margin: 10px;
        width: 30%;
        height: 40px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .main__btn--bottom{
        // border: 1px solid green;
        display: flex;
        justify-content: center;        
    }
}