.section__restaurant {
    background: $light-color;
    padding: 0 15px;
    @include flex-column;
    align-items: flex-start;
    @include tablette-desktop {
        display: flex;
        align-items: center;
    }
}

.main__menu--box {
    @include tablette-only {
        @include flex-column-center;
    }
}