@font-face {
  font-family: "robotoregular";
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand-regular";
  src: url("Shrikhand-Regular.otf");
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100px;
  }
}
@keyframes slide-left {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100px;
  }
}
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bloc__page {
  display: flex;
  flex-direction: column;
}
.bloc__page h1 {
  font-family: "Shrikhand-regular";
  font-size: 25px;
}
.bloc__page p,
.bloc__page h3 {
  font-family: "robotoregular";
  font-size: 15px;
}
.bloc__page h2 {
  font-family: "robotoregular";
  font-size: 15px;
  font-size: 20px;
}

.main__carte {
  margin-top: -45px;
  background: #efefef;
  border-radius: 50px 50px 0 0;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .main__carte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1160px) {
  .main__carte {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main__carte--titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 830px) {
  .main__carte--titre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main__carte--box {
  padding: 15px;
}
@media screen and (min-width: 830px) {
  .main__carte--box {
    width: 100%;
    padding: 0;
  }
}
.main__carte--box h1 {
  font-size: 35px;
}
@media screen and (min-width: 830px) {
  .main__carte--box h1 {
    margin-right: 10px;
  }
}

@media screen and (min-width: 830px) {
  .main__menu {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1160px) {
  .main__menu--box {
    display: flex;
    justify-content: center;
  }
}

.main__menu > p {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  font-size: 20px;
}

.main__btn--bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__h2 {
  display: none;
}

.header__mobile {
  height: 60px;
  box-shadow: 0px 0px 5px grey;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1160px) {
  .header__mobile {
    height: 200px;
  }
}
.header__mobile--arrow {
  font-size: 25px;
  position: absolute;
  left: 20px;
}
.header__mobile--logo {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__mobile--logo img {
  width: 150px;
  height: 30px;
}
@media screen and (min-width: 1160px) {
  .header__mobile--logo img {
    height: 50px;
    width: auto;
  }
}
.header__mobile a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.map__localisation {
  background: #DBDBDB;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__localisation--txt {
  width: 150px;
}
.map__localisation i {
  margin-right: 5px;
}

.header__background--noteEnchantee {
  height: 400px;
  object-fit: cover;
}

.header__background img {
  width: 100%;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .header__background img {
    object-fit: cover;
    height: 400px;
  }
}
@media screen and (min-width: 1160px) {
  .header__background img {
    object-fit: cover;
    height: 300px;
  }
}

.header__background--page2 img {
  height: 300px;
  object-fit: cover;
}

footer {
  background: #3C3C3C;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  height: 100%;
}
footer a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 830px) {
  footer {
    align-items: center;
  }
}

#footer__h2 {
  margin: 10px 0;
}

.footer__group {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .footer__group {
    flex-direction: row;
    width: 100%;
  }
}
@media screen and (min-width: 1160px) {
  .footer__group {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
  }
}
.footer__group p {
  margin: 0;
}
.footer__group--txt {
  margin-left: -5px;
}
.footer__group--icone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer__group--icone i {
  font-size: 13px;
  margin: 0 12px 0 0;
}

.pepiteggs {
  display: none;
  color: greenyellow;
}
.pepiteggs i {
  color: white;
}

.article__presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
  justify-content: center;
}
.article__presentation h1 {
  text-align: center;
  margin-bottom: 10px;
}
.article__presentation p {
  text-align: center;
  margin: 0;
}
.article__fonctionnement {
  padding: 15px;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .article__fonctionnement--bloc-card {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1160px) {
  .article__fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article__fonctionnement--bloc-card {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
.article__fonctionnement h2 {
  margin-top: 0;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .article__fonctionnement h2 {
    text-align: center;
  }
}
.article__fonctionnement--card {
  display: flex;
  align-items: center;
  margin: 10px -15px;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .article__fonctionnement--card {
    width: 30%;
  }
}
@media screen and (min-width: 1160px) {
  .article__fonctionnement--card {
    width: 400px;
  }
}
.article__fonctionnement i {
  position: relative;
  left: 13px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #9356DC;
}

.section__restaurant {
  background: #efefef;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (min-width: 830px) {
  .section__restaurant {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 830px) and (max-width: 1160px) {
  .main__menu--box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body {
  margin: 0;
  font-family: "robotoregular";
}

.box__loader {
  background-color: #99E2D0;
  height: 500px;
  line-height: 500px;
  z-index: 2;
  text-align: center;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box__loader-animation {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #81ecec;
  animation: loader-opacity 1s ease-out both;
  -webkit-animation: loader-opacity 1s ease-out both;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

.loader-double {
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 1.5s linear infinite;
}

.loader-double::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  opacity: 0.6;
  animation: spinreverse 3s linear infinite;
  -webkit-animation: spinreverse 3s linear infinite;
}

.btn {
  box-shadow: 0px 5px 10px lightgrey;
  border: none;
  padding: 15px;
  margin: 30px;
  border-radius: 25px;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: #fff;
  transition: transform 100ms ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 10px 10px grey;
  transform: translateX(2px) translateY(-2px);
}
.btn--commander {
  width: 170px;
  height: 45px;
}

.icone__restaurant--nouveau {
  position: absolute;
  right: 40px;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  background: aquamarine;
  color: green;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .icone__restaurant--nouveau {
    right: inherit;
  }
}
@media screen and (min-width: 1160px) {
  .icone__restaurant--nouveau {
    right: inherit;
  }
}

.fa-heart {
  font-size: 25px;
}

.heart {
  font-size: 25px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  -webkit-text-stroke: 1px white;
}

.heart-color {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease;
}

.heart:hover .heart-color {
  transform: scale(1);
  opacity: 1;
}

.heart:hover {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0px white;
}

.vignette__fonctionnement {
  font-family: "robotoregular";
  font-size: 15px;
  background: #efefef;
  box-shadow: 0px 5px 10px lightgrey;
  border-radius: 20px;
  height: 70px;
  width: 90%;
  height: 70px;
  margin: 5px 0;
  padding: 0;
  border: none;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.vignette__fonctionnement i {
  font-size: 20px;
  background: none;
  color: grey;
}
.vignette__fonctionnement--animation {
  background-color: #9356DC;
  opacity: 1;
  transition: transform 100ms;
}
.vignette__fonctionnement:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.vignette__fonctionnement:hover i {
  color: #9356DC;
}

.vignette__restaurant {
  border-radius: 10px;
  box-shadow: 0 10px 10px lightgrey;
  background: white;
  margin: 10px 0;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 830px) {
  .vignette__restaurant {
    width: 300px;
    margin: 10px;
  }
}
.vignette__restaurant--bloc-card {
  width: 100%;
  max-width: 1440px;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .vignette__restaurant--bloc-card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
  }
}
@media screen and (min-width: 1160px) {
  .vignette__restaurant--bloc-card {
    height: 310px;
    display: flex;
    justify-content: space-between;
  }
}
.vignette__restaurant a {
  text-decoration: none;
  color: black;
}
.vignette__restaurant img {
  width: 100%;
  height: 75%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.vignette__restaurant--txt {
  padding: 0 10px;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vignette__restaurant--txt h3,
.vignette__restaurant--txt p {
  margin: 0;
}

.card {
  width: 100%;
  height: 75px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 10px lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__box--4cards {
  height: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  -webkit-animation: card-fondu 1s ease-in both;
  animation: card-fondu 1s ease-in both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .card__box--4cards {
    width: 100%;
  }
}
.card__box {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  -webkit-animation: card-fondu 1s ease-in both;
  animation: card-fondu 1s ease-in both;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .card__box {
    width: 100%;
  }
}
.card__box--1 {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  -webkit-animation: card-fondu 1s ease-in both;
  animation: card-fondu 1s ease-in both;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .card__box--1 {
    width: 100%;
  }
}
.card__box--2 {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  -webkit-animation: card-fondu 1s ease-in both;
  animation: card-fondu 1s ease-in both;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
@media screen and (min-width: 830px) and (max-width: 1160px) {
  .card__box--2 {
    width: 100%;
  }
}
.card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card__animation {
  border-radius: 0 20px 20px 0;
  height: 75px;
  width: 0%;
  opacity: 0;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 500ms;
}
.card__animation i {
  transition: transform;
  color: white;
  font-size: 20px;
}
.card:hover .card__animation {
  animation: slide-left 0.4s both;
}
.card:hover .card__animation i {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
.card__txt {
  width: 80%;
  margin-left: 15px;
  overflow: hidden;
}
.card__txt--bolder {
  font-weight: bolder;
}
.card__txt--price {
  width: 20%;
  height: 50px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*# sourceMappingURL=style.css.map */
