.btn {
    // border: 1px solid green;
    @include shadow;
    border: none;
    padding: 15px;
    margin: 30px;
    border-radius: 25px;
    background: linear-gradient(to right bottom, $secondary-color, $primary-color);
    color: $card-color;
    transition: transform 100ms ease-in-out;
    &:hover {
        opacity: .8;
        box-shadow: 0px 10px 10px grey;
        transform: translateX(2px) translateY(-2px);

    }
    &--commander {
        // border: 1px solid green;
        width: 170px;
        height: 45px;
    }
}