@media screen and (max-width:790px) {

    .vignette__fonctionnement {
        @include card-base;
        width: 90%;
        height: 70px;
        margin: 5px 0;
        padding: 0;
        border: none;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & i {
            // border: 1px solid green;
            font-size: 20px;
            background: none;
            color: grey;
        }
    }

    .vignette__restaurant {
        // border: 1px solid green;
        border-radius: 10px;
        box-shadow: 0 10px 10px lightgrey;
        background: white;
        margin: 10px 0;
        width: 100%;
        height: 250px;

        & a {
            text-decoration: none;
            color: black;
        }

        & img {
            width: 100%;
            height: 75%;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }

        &--txt {
            // border: 1px solid green;
            padding: 0 10px;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h3,
            p {
                margin: 0;
            }
        }
    }

    .restaurant__card {
        // border: 1px solid green;
        @include card-template;
        @include card-base--flex;
        cursor: pointer;
        &:hover > .restaurant__animation {
            -webkit-animation: scale-up-hor-right 0.4s both;
            animation: scale-up-hor-right 0.4s both;
            transform-origin: right;
            & i {
                color: $card-color;
                -webkit-animation: rotate-center 0.6s ease-in-out both;
                animation: rotate-center 0.6s ease-in-out both;
            }
        }
        &:hover .restaurant__txt--price {
            transform: translateX(-50px);
        }
    }

    .restaurant__txt-price {
        @include flex-end;
        width: 100%;
    }

    .restaurant__animation {
        // border: 1px solid green;
        display: none;
        height: 70px;
        width: 50px;
        border-radius: 0 20px 20px 0;
        background: $tertiary-color;
        @include flex-center;
        transition: transform 500ms;
        opacity: 0;
        & i {
            color: $card-color;
        }
    }

    .restaurant__txt {
        @include font-txt;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--bolder {
            font-weight: bolder;
        }

        &--price {
            font-weight: bolder;
            margin: 20px;
            display: flex;
            align-items: flex-end;
            position: absolute;
            right: 20px;
            transition: transform 500ms ease;
        }
    }
}

