    .vignette__fonctionnement {
        @include card-base;
        width: 90%;
        height: 70px;
        margin: 5px 0;
        padding: 0;
        border: none;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & i {
            // border: 1px solid green;
            font-size: 20px;
            background: none;
            color: grey;
        }
    }

    .vignette__restaurant {

        // border: 1px solid green;
        border-radius: 10px;
        box-shadow: 0 10px 10px lightgrey;
        background: white;
        margin: 10px 0;
        width: 100%;
        height: 250px;

        @media screen and (min-width: 830px) {
            width: 300px;
            margin: 10px;
        }

        &--bloc-card {
            width: 100%;

            @include tablette-only {
                width: 80%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: center;
            }

            @include desktop-only {
                height: 310px;
                display: flex;
                justify-content: space-between;
            }
        }

        & a {
            text-decoration: none;
            color: black;
        }

        & img {
            width: 100%;
            height: 75%;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }

        &--txt {
            // border: 1px solid green;
            padding: 0 10px;
            height: 20%;
            @include card-base--flex;

            & h3,
            p {
                margin: 0;
            }
        }
    }

    .card {
        width: 100%;
        height: 75px;
        border-radius: 20px;
        background-color: $card-color;
        @include shadow;
        @include flex-center;

        &__box--4cards {
            height: 400px;
            @include card-box-bigSize;
            @include animation-delay;

            @include tablette-only {
                width: 100%;
            }
        }

        &__box {
            @include card-box;
            @include animation-delay;

            @include tablette-only {
                width: 100%;
            }
        }

        &__box--1 {
            @include card-box;
            @include animation-delay--1;

            @include tablette-only {
                width: 100%;
            }
        }

        &__box--2 {
            @include card-box;
            @include animation-delay--2;

            @include tablette-only {
                width: 100%;
            }
        }

        & p {
            @include overflow-ellipsis;
        }

        &__animation {
            // border: 1px solid green;
            border-radius: 0 20px 20px 0;
            height: 75px;
            width: 0%;
            opacity: 0;
            background: $tertiary-color;
            @include flex-center;
            transition: transform 500ms;

            & i {
                transition: transform;
                color: white;
                font-size: 20px;
            }
        }

        &:hover .card__animation {
            animation: slide-left 0.4s both;

            & i {
                -webkit-animation: rotate-center 0.6s ease-in-out both;
                animation: rotate-center 0.6s ease-in-out both;
            }
        }

        &__txt {
            width: 80%;
            margin-left: 15px;
            overflow: hidden;

            &--bolder {
                font-weight: bolder;
            }

            &--price {
                // border: 1px solid green;
                width: 20%;
                height: 50px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
        }
    }