    .vignette__fonctionnement {
        @include card-base;
        width: 90%;
        height: 70px;
        margin: 5px 0;
        padding: 0;
        border: none;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        // @include tablette-only;
        & i {
            // border: 1px solid green;
            font-size: 20px;
            background: none;
            color: grey;
        }
    }

    .vignette__restaurant {

        // border: 1px solid green;
        border-radius: 10px;
        box-shadow: 0 10px 10px lightgrey;
        background: white;
        margin: 10px 0;
        width: 100%;
        height: 250px;

        @include tablette-only {
            width: 300px;
            margin: 10px;
        }

        @include desktop-only {
            width: 300px;
            margin: 10px;
        }

        &--bloc-card {
            width: 100%;

            @include tablette-only {
                display: flex;
                flex-wrap: wrap;
                width: 80%;
                justify-content: space-around;
                align-content: center;
            }

            @include desktop-only {
                display: flex;
                justify-content: space-between;
                height: 310px;
            }
        }

        & a {
            text-decoration: none;
            color: black;
        }

        & img {
            width: 100%;
            height: 75%;
            border-radius: 10px 10px 0 0;
            object-fit: cover;
        }

        &--txt {
            // border: 1px solid green;
            padding: 0 10px;
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            & h3,
            p {
                margin: 0;
            }
        }
    }

    .restaurant__card {
        // border: 1px solid green;
        opacity: 0;
        -webkit-animation: card-fondu 1s ease-in both;
        animation: card-fondu 1s ease-in both;
        animation-delay: 3s;
        -webkit-animation-delay: 3s;
        @include card-template;
        @include card-base--flex;
        cursor: pointer;
        @include desktop-only {
            width: 95%;
        }

        &--box {
            @include tablette-only {
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }
        }

        &:hover>.restaurant__animation {
            -webkit-animation: scale-up-hor-right 0.4s both;
            animation: scale-up-hor-right 0.4s both;
            transform-origin: right;

            & i {
                color: $card-color;
                -webkit-animation: rotate-center 0.6s ease-in-out both;
                animation: rotate-center 0.6s ease-in-out both;
            }
        }

        &:hover .restaurant__txt--price {
            transform: translateX(-50px);
        }
    }

    .restaurant__txt-price {
        @include flex-end;
        width: 100%;
    }

    .restaurant__animation {
        // border: 1px solid green;
        display: none;
        height: 70px;
        width: 80px;
        border-radius: 0 20px 20px 0;
        background: $tertiary-color;
        @include flex-center;
        transition: transform 500ms;
        opacity: 0;

        & i {
            color: $card-color;
            font-size: 20px;
        }
    }

    .restaurant__txt {
        @include font-txt;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--bolder {
            font-weight: bolder;

            & p {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &--mini p {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &--price {
            font-weight: bolder;
            margin: 20px;
            display: flex;
            align-items: flex-end;
            position: absolute;
            right: 20px;
            transition: transform 500ms ease;
        }
    }