.icone__restaurant--nouveau {
    // border: 1px solid green;
    position: absolute;
    right: 40px;
    width: 80px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    background: aquamarine;
    color: green;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.icone__restaurant--heart {
    // border: 1px solid green;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    font-size: 20px;

    @include tablette-only {
        width: inherit;
        height: inherit;
        display: flex;
        font-size: 30px;
    }
}

.fa-heart:hover {
    animation: bgcolor 0.5s;
    font-weight: 900;
    background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}