    //   _________________________________________________
    //  |                                                 |
    //  |                    loader                       |         
    //  |_________________________________________________|
    //

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes loader-opacity {
  0% {
    opacity: .8;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes loader-opacity {
  0% {
    opacity: .8;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}


    //   _________________________________________________
    //  |                                                 |
    //  |                 card slide-left                 |         
    //  |_________________________________________________|
    //

@-webkit-keyframes slide-left {
  0%{
      opacity: 0;
  }

  100%{
      opacity: 1;
      width: 100px;
  }
}
@keyframes slide-left {
  0%{
      opacity: 0;
  }

  100%{
      opacity: 1;
      width: 100px;
  }
}

    //   _________________________________________________
    //  |                                                 |
    //  |                    circle rotate                |         
    //  |_________________________________________________|
    //

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

    //   _________________________________________________
    //  |                                                 |
    //  |                    fondu                        |         
    //  |_________________________________________________|
    //
@-webkit-keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes card-fondu {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
