// animation slide left carte restaurant //
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  30% {
    opacity: .5;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  30% {
    opacity: .5;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
            opacity: 1;
  }
}


  // rotation animation carte restaurant //
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  // apparition fondu carte restaurant //
  @-webkit-keyframes card-fondu {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes card-fondu {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }